:root {
  --moderateblue: hsl(238, 40%, 52%);
  --softred: hsl(358, 79%, 66%);
  --lightgrayishblue: hsl(239, 57%, 85%);
  --palered: hsl(357, 100%, 86%);
  --darkblue: hsl(212, 24%, 26%);
  --grayishblue: hsl(211, 10%, 45%);
  --lightgray: hsl(223, 19%, 93%);
  --verylightgray: hsl(0, 0%, 97%);
  --white: hsl(0, 0%, 100%);
}

/* .hidden {
  position: absolute; 
  right: -100%;
}

.display {
  right: 0;
} */

.user {
  display: flex;
  align-items: center;
}
.comment {
  display: grid;
  grid-template-areas:
    "heading heading heading"
    "content content content"
    "score buttons buttons";
  margin: 1rem;
  padding: 1rem;
  color: var(--grayishblue);
  border-radius: 10px;
  background-color: var(--white);
}

.comment-content {
  grid-area: content;
  line-height: 1.35rem;
}
.editing {
  grid-area: content;
  margin: 0;
  padding: 0;
}

.comment-votes {
  grid-area: score;
}

.comment-footer {
  grid-area: buttons;
}
.comment-heading {
  grid-area: heading;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.new-comment-container {
  margin: 1rem;
  background-color: var(--white);
  border-radius: 10px;
  display: grid;
  grid-template-rows: 70% 25%;
  grid-template-areas:
    "textbox textbox"
    "avatar send";
  margin: 1em;
}

.edit-comment {
  display: grid;
  grid-template-rows: 70% 25%;
  grid-template-areas:
    "textbox textbox"
    "send send";
}

.new-comment {
  margin: 0.75rem;
  border: var(--lightgray) solid 1px;
  border-radius: 10px;
  min-height: 7rem;
  width: 95%;
  font-family: "Rubik", sans-serif;
  padding: 0.75rem;
  resize: none;
  grid-area: textbox;
  color: var(--grayishblue);
}

.new-comment-avatar {
  width: 2rem;
  height: 2rem;
  grid-area: avatar;
  justify-self: start;
  align-self: center;
  margin-left: 1em;
}

.comment-footer {
  display: flex;
  justify-content: end;
  margin-top: 1em;
}

.submit {
  background-color: var(--moderateblue);
  color: var(--white);
  padding: 1rem 1.75rem;
  text-transform: uppercase;
  grid-area: send;
  justify-self: end;
  max-width: 50%;
  margin-right: 1em;
}

.comment-votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  font-weight: 500;
  height: 45px;
  width: 120px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--verylightgray);
}

.comment-votes button {
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
  height: 100%;
}

.comment-votes button:hover {
  background-color: hsl(238, 40%, 52%);
}

.toggled-btns {
  display: flex;
  font-size: 0.75rem;
}

.delete-btn,
.edit-btn {
  display: flex;
}

.plus-btn:hover,
.minus-btn:hover {
  background-color: hsl(238, 40%, 52%);
}

.reply-icon,
.delete-icon,
.edit-icon {
  margin-right: 0.75rem;
}

/* button:hover {
  opacity: 0.7;
} */

/* button {
  border: none;
  background-color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 10px;
} */

.delete-btn {
  color: var(--softred);
}
.delete-modal-container {
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: hsl(240, 2%, 89%, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-modal {
  padding: 1.5rem;
  width: 95%;
  height: 220px;
  top: 40%;
  background-color: var(--white);
  line-height: 1.35rem;
  margin: 1rem;
  border-radius: 15px;
  color: var(--grayishblue);
}

.delete-modal_title {
  font-weight: 500;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.delete-modal_btns {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.delete-modal_btn {
  color: var(--white);
  padding: 1rem 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
}

.delete-modal_btn.yes {
  background-color: var(--softred);
}
.delete-modal_btn.no {
  background-color: var(--grayishblue);
}
.attribution {
  font-size: 11px;
  text-align: center;
  width: 100%;
  /* bottom: 10px; */
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.reply-btn,
.delete-btn,
.edit-btn {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .comment {
    padding-top: 1.5rem;
    display: grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 10% 50% 1fr;
    grid-template-areas:
      "score heading btns"
      "score content content";
  }
  .editing {
    grid-area: content;
  }
  .comment-content {
    grid-area: content;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }
  .comment-footer {
    grid-area: btns;
    align-self: end;
    justify-self: end;
  }
  .comment-heading {
    grid-area: heading;
    padding-top: 0.5rem;
  }
  .new-comment-container {
    display: grid;
    grid-template-columns: 1fr 70% 2fr;
    grid-template-areas: "avatar textarea btn";
    margin-bottom: 5%;
  }
  .edit-comment {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: "textarea btn";
  }
  .new-comment {
    grid-area: textarea;
    width: unset;
  }
  .new-comment-avatar {
    grid-area: avatar;
    justify-self: center;
    padding-top: 1rem;
    height: auto;
    width: 3rem;
  }
  .submit {
    grid-area: btn;
    margin-top: 1rem;
    margin-right: 1rem;
    height: 50%;
    max-width: unset;
  }
  .reply-btn,
  .delete-btn,
  .edit-btn {
    display: flex;
    align-items: center;
  }
  .comment-votes {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 1em;
    font-weight: 500;
    height: 95px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--verylightgray);
  }
  .comment-votes button {
    background-color: transparent;
    cursor: pointer;
    border-radius: 0;
    height: 100%;
  }

  .comment-votes button:hover {
    background-color: hsl(238, 40%, 52%);
  }
  .reply-container {
    margin-left: 3rem;
    padding-left: 2rem;
  }
  .delete-modal {
    max-width: 375px;
  }
}
